{% if theme == 'halloween' %}
    {% include 'components/footers/halloweenFooter.njk' %}
{% elif theme == 'christmas' %}
    {% include 'components/footers/christmasFooter.njk' %}
{% else %}
    {% include 'components/footers/defaultFooter.njk' %}
{% endif %}