{% if theme == 'halloween' %}
    {% include 'components/footers/halloweenFooter.njk' %}
{% elif theme == 'christmas' %}
    {% include 'components/footers/christmasFooter.njk' %}
{% else %}
    {% include 'components/footers/defaultFooter.njk' %}
{% endif %}
    <ul class="nav col-md-4 justify-content-end gap-4">
        <li class="nav-item christmas-nav-or-footer-text">2 Cornwall St, Birmingham B3 2DX</li>
        <li class="nav-item christmas-nav-or-footer-text">028 9057 1100</li>
    </ul>
</footer>