<nav class="navbar navbar-expand-lg navbar-light px-4 pt-4 pb-3">
    <div class="nav-logo-container">
        <a class="nav-item nav-link fw-medium" href="./"><img src="../assets/index/kainos-logo.png" alt="transparent kainos logo for the navbar" class="img-fluid"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if role != '0' %}
      <div class="navbar-nav">
        <a class="nav-item nav-link fw-medium" href="/job-roles">Job Roles</a>
      </div>
      {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <div>
    <p class="fw-medium log-in-role-text">
    {% if role == '1' %}
        Logged in as Admin
        {% endif %}
    {% if role == '2' %}
        Logged in as Applicant
    {% endif %}
    </p>
    </div>
    </div>
    <div class="sign-in-container d-flex justify-content-center align-items-center gap-2">

        {% if profile %}
        <div class="rounded-circle overflow-hidden">
        {{profile | safe}}
        </div>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32" xml:space="preserve"><path d="M16 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zM27 32a1 1 0 0 1-1-1v-6.115a6.95 6.95 0 0 0-6.942-6.943h-6.116A6.95 6.95 0 0 0 6 24.885V31a1 1 0 1 1-2 0v-6.115c0-4.93 4.012-8.943 8.942-8.943h6.116c4.93 0 8.942 4.012 8.942 8.943V31a1 1 0 0 1-1 1z"/></svg>
        {% endif %}

        {% if token %}
        <a class="nav-item text-decoration-none fw-medium" href="/logout">Log Out</a>
        {% else %}
        <a class="nav-item text-decoration-none fw-medium" href="/login">Log In</a>
        {% endif %}
    </div>
  </nav>