{% if theme == 'halloween' %}
    {% include 'components/navbars/halloweenNavbar.njk' %}
{% elif theme == 'christmas' %}
    {% include 'components/navbars/christmasNavbar.njk' %}
{% else %}
    {% include 'components/navbars/defaultNavbar.njk' %}
{% endif %}