{% extends "./layouts/main.njk" %}

{% block pageTitle %}
  Apply for Role
{% endblock %}

{% block links %}
<link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}


<div class="d-flex justify-content-center "">
  <div>

{% if errormessage %}
<h3 class="error-message">{{ errormessage }}</h3>
{% endif %}
    <br>
    <br>
    <h3>Applying for Role</h3>
    
    <form class="form" action="/apply/{{id}}" method="post" enctype="multipart/form-data">
        <label for="file">Upload your CV:</label>
        <input type="file" id="file" name="file">
        <p>Format must be either PDF, DOC or DOCX</p>
        <br>
        <button id="submit">Submit</button>
    </form>

  </div>
  </div>

{% endblock %}
