{% extends "./layouts/main.njk" %}

    {% block pageTitle %}
        Error Page
    {% endblock %}
    

    {% block links %}
        <link rel="stylesheet" href="/css/errorPage.css">
    {% endblock %}

{% block content %}
        <div class="container">
            <h1>{{error}}</h1>
            {% if error == "Error: Cannot find Server" %}
                <p> Oops! The server cannot be found!</p>

            {% else %}
                <p>Oops! The page you're looking for can't be found.</p>
            {% endif %}
        
            <p><a href="/">Go back to Home</a></p>
        </div>
{% endblock %}