{% if theme == 'christmas' %}
    {% include 'components/landingPages/christmasIndex.njk' %}
{% elif theme == 'halloween' %}
    {% include 'components/landingPages/halloweenIndex.njk' %}
{% else %}
    {% include 'components/landingPages/defaultIndex.njk' %}
{% endif %}
