{% if theme == 'christmas' %}
    {% include 'components/jobRoles/christmasJobRoles.njk' %}
{% elif theme == 'halloween' %}
    {% include 'components/jobRoles/halloweenJobRoles.njk' %}
{% else %}
    {% include 'components/jobRoles/defaultJobRoles.njk' %}
{% endif %}
