{% if theme == 'christmas' %}
    {% include 'components/loginForms/christmasLoginForm.njk' %}
{% elif theme == 'halloween' %}
    {% include 'components/loginForms/halloweenLoginForm.njk' %}
{% else %}
    {% include 'components/loginForms/defaultLoginForm.njk' %}
{% endif %}
