{% extends "./layouts/main.njk" %}

{% block pageTitle %}
  Log In
{% endblock %}

{% block content %}
    {% if theme == 'christmas' %}
        {% include 'components/loginForms/christmasLoginForm.njk' %}
    {% elif theme == 'halloween' %}
        {% include 'components/loginForms/halloweenLoginForm.njk' %}
    {% else %}
        {% include 'components/loginForms/defaultLoginForm.njk' %}
    {% endif %}
    {% if errormessage %}
        <div>
          <h3 class="error-message text-center text-wrap">{{ errormessage }}</h3>
        </div>
    {% endif %}
{% endblock %}