{% extends "./layouts/main.njk" %}

    {% block pageTitle %}
        Update Profile Picture
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script src="/scripts/imagetracer_v1.2.6.js"></script>
    <script src="/scripts/imageScaling.js"></script>
    <script type="module" src="/scripts/takePicture.js"></script>
    {% endblock %}

{% block content %}

<dialog id="dialog">
    <div>
    <h2>Accept your new profile picture?</h2>
    <svg id="thumbnail" class="rounded-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" height="500"></svg>
    <form action="/profile/picture" method="post">
    <input type="hidden" name="profilePicture" id="profilePicture"/>
    <div class="mt-4">
    <button class="btn btn-danger" type="button" id="cancel">Cancel</button>
    <button class="btn btn-success" type="submit" id="accept">Accept</button>
    <div>
    </form>
    </div>
</dialog>

<div class="d-flex justify-content-center">
<div class="d-flex flex-column justify-content-center">
        {% if errormessage %}
            <h3 class="error-message">{{ errormessage }}</h3>
        {% endif %}
        <h2 class="mb-4">Update your profile picture:</h2>
        <video id="webcam" autoplay playsinline class="rounded-circle" width="500" height="500"></video>
        <canvas id="canvas" class="d-none"></canvas>
        <div class="d-flex w-100 justify-content-center">
            <button class="mt-3 btn btn-secondary w-50 mb-5" id="takePicture">Take Picture</button>
        </div>
</div>
</div>
{% endblock %}