{% extends "./layouts/main.njk" %}


    {% block pageTitle %}
        Profile
    {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center w-25">

        {% if errormessage %}
            <h3 class="error-message">{{ errormessage }}</h3>
        {% endif %}
        <h1 class="mb3">Your Profile</h1>
        <h3 class="mb-3">
        Email:
        </h3>
        <p>{{ email }}</p>
        <a href="/profile/picture">Update Profile Picture</a>
        </div>

    </div>

{% endblock %}