{% extends "./layouts/main.njk" %}

    {% block pageTitle %}
        Update Profile Picture
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script type="text/javascript" src="/scripts/imagetracer_v1.2.6.js"></script>
    {% endblock %}

{% block content %}

<dialog id="dialog">
    <input type="image" id="profilePic" width="500" height="600">
    <form action="/profile" method="post">
    <input type="hidden" name="profile" id="profile"/>
    <button type="button" id="cancel">Cancel</button>
    <button type="submit">Accept</button>
    </form>
</dialog>

<div class="d-flex justify-content-center">
<div>
<h2>Update your profile picture:</h2>
<video id="webcam" autoplay playsinline width="640" height="480"></video>
<canvas id="canvas" class="d-none"></canvas>

<button id="takePicture">Take Picture</button>
</div>
</div>

<script>

const webcamElement = document.getElementById('webcam');
const canvasElement = document.getElementById('canvas');
const dialog = document.getElementById("dialog");
const snapSoundElement = document.getElementById('snapSound');
const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);
const cancelButton = document.getElementById('cancel');

webcam.start()
   .then(result =>{
      console.log("webcam started");
   })
   .catch(err => {
       console.log(err);
   });

document.getElementById('takePicture').addEventListener('click', takePicture);

function takePicture() {
    var picture = webcam.snap();
    console.log(picture);
    document.getElementById("profilePic").src = picture;
    


    document.getElementById("profile").src = convertToSVG(picture);
    dialog.showModal();
}

function convertToSVG(pic) {
    ImageTracer.imageToSVG(pic);
}

document.getElementById('cancel').addEventListener('click',
() => dialog.close());



webcam.stop();


</script>
{% endblock %}