<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apply for role</title>
</head>
<body>
    <h1>Upload your CV</h1>
    <p>Format must be either PDF, DOC or DOCX</p>


    <form class="form" action="/upload" method="post" enctype="multipart/form-data">
        <h3><label for="name">
            Name:
        </label></h3>
        <input id="name" name="name" value="{{name}}" type="text">

        <h3><label for="name">
            Email:
        </label></h3>
        <input id="email" name="email" value="{{email}}" type="text">
        <br></br>
        <label for="file">Upload your CV:</label>
        <input type="file" id="file" name="file">
        <button id="submit">Submit</button>
    </form>
</body>
</html>