{% extends "../../layouts/main.njk" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block links %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="snow_wrap">
    <div class="snow"></div>
    <div class="christmas-hero-text text-center text-white fs-5">
        <span>WE WISH YOU A</span>
        <h1 class="text-center text-white christmas-main-title px-4 rounded-1 mx-auto">Merry Christmas</h1>
    </div>
</div>
{% endblock %}
