{% extends "../../layouts/main.njk" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block content %}
<section class="hero d-flex justify-content-center mt-2">
    <div class="text-center align-self-center hero-txt">
        <h1 class="align-self-center border-2 fs-1 pb-4 main-h">Your Kainos Story Starts Here</h1>
        <div class="container d-flex justify-content-center mt-5">
            <div class="row">
                <div class="col left-img left-img">
                    <img class="rounded-3 img-thumbnail" src="/assets/index/hero-img-1.jpg" alt="illustration depicting example of workplace environment">
                </div>
                <div class="col">
                    <img class="rounded-3 img-thumbnail" src="/assets/index/hero-img-2.jpg" alt="illustration depicting example of workplace environment">
                    <img class="rounded-3 img-thumbnail mt-2" src="/assets/index/hero-img-5.jpg" alt="illustration depicting example of workplace environment">
                </div>
                <div class="col">
                    <img class="rounded-3 img-thumbnail" src="/assets/index/hero-img-4.jpg" alt="illustration depicting example of workplace environment">
                    <img class="rounded-3 img-thumbnail mt-2" src="/assets/index/hero-img-6.jpg" alt="illustration depicting example of workplace environment">
                </div>
                <div class="col right-img">
                    <img class="right-img rounded-3 img-thumbnail" src="/assets/index/hero-img-3.jpg" alt="illustration depicting example of workplace environment">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="marquee marquee--4 mt-1 mb-1">
    <img class="marquee__item" src="/assets/index/kainos-smart-audit-logo.png" width="275" height="150" alt="A product of Kainos: Kainos Smart Audit">
    <img class="marquee__item" src="/assets/index/kainos-smart-shield.png" width="275" height="150" alt="A product of Kainos: Kainos Smart Shield">
    <img class="marquee__item" src="/assets/index/kainos-smart-test.png" width="275" height="150" alt="A product of Kainos: Kainos Smart Test">
    <img class="marquee__item" src="/assets/index/kainos-smart.png" width="250" height="125" alt="A product of Kainos: Kainos Smart">
</div>
{% endblock %}
