body {
    color: #252D4F;
}

/* ---- Halloween Scrollbar Styling */
/* /* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
} */

.halloween::-webkit-scrollbar
{
	width: 5px;
}

.halloween::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  background: orangered;
}

/* --- Navbar Styling --- */

.halloween .halloween-navbar {
  background-color: #db3b00;
}

.nav-logo-container, .footer-logo-container, .logo-with-hat-container {
    width: 8.5rem;
    margin-inline: 4rem;
    cursor: pointer;
}

.sign-in-container {
    margin-inline: 4rem;
    cursor: pointer;
}

.sign-in-container svg {
    width: 1.5rem;
}

.nav-item {
    font-size: 1.1rem;
    color: #252D4F;
}

.log-in-role-text {
  margin: 0;
}

.nav-item:hover {
    color: #6f7cc1;
}

.login-container {
  width: 30%;
}

.login-form {
  & > * {
    margin-top: 20px;
  }
}

.login-input {
  width: 100%;
  font-size: 22px;
  border-radius: 12px;
}

.login-button {
  width: 14rem;
  background-color: #318819;
  border: 2px solid;
  border-color: #252D4F;
  font-size: 22px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  color: white;
}

.error-message {
  color: #d8000c;
}

/* --- Footer Styling --- */
footer {
    padding-inline: 4.5rem;
    background-color: white;
}

.halloween .halloween-footer {
  background-color: #db3b00;
}

/* --- Scroller --- */
.marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    margin-block: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }
  
  
  .marquee--4 {
    --marquee-item-width: 150px;
    --marquee-item-height: 150px;
    --marquee-duration: 24s;
    --marquee-items: 4;
  }
  
  
  .marquee__item {
    --marquee-item-offset: max(
      calc(var(--marquee-item-width) * var(--marquee-items)),
      calc(100% + var(--marquee-item-width))
    );
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  }
  
  .marquee__item:nth-child(4n) {
    border-top-right-radius: 1rem;
  }
  
  .marquee__item:nth-child(4n + 1) {
    border-bottom-right-radius: 1rem;
  }
  
  .marquee__item:nth-child(4n + 2) {
    border-bottom-left-radius: 1rem;
  }
  
  .marquee__item:nth-child(4n + 3) {
    border-top-left-radius: 1rem;
  }
  
  
  .marquee--4 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
  }
  
  .marquee--4 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
  }
  
  .marquee--4 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
  }

  .marquee--4 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
  }
  
  
  @keyframes go {
    to {  
      inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
  }

/* ------------ Halloween Theme Styling ------------*/
body.halloween {
  color: black;
  background-color: black;
}

.halloween footer {
  background-color: black;
  border-top: none;
}

.halloween .main-h {
  color: red;
}

.halloween .halloween-text {
  color: white;
}

.halloween .halloween-nav-or-footer-text {
  color: #000418;
}


.halloween .login-page-header {
  color: #db3b00;
}

.title {
  font-weight: 900;
  font-size: 5vw;
  margin: 0;
  filter: url(#goo);
  position: relative;
  color: #db3b00;
  text-transform: uppercase;
}

.drop {
  width: .1em; height: .1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 72%;
  animation: drop 3s infinite both;

  &:nth-child(1) {
    left: 14%;
  }

  &:nth-child(2) {
    left: 39%;
    animation-delay: -.4s;
  }

  &:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
  }

  &:nth-child(4) {
    left: 82%;
    animation-delay: -.8s;
  }

  &:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-in;
  }
  80%, 100% {
    transform: translateY(60vh) scaleX(.85) rotate(45deg);
  }
}

.halloween .pumpkin-footer-container, .halloween .pumpkin-footer {
  visibility: visible;
  width: 1.35rem;
}

/* ------ Christmas Theme Styling ------ */
.christmas .christmas-hero-img {
  background-image: url('/assets/index/christmas-bg-big.jpg');
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.christmas .christmas-hero-text {
  position: relative;
  padding-top: 6.5rem;
}

.christmas .christmas-main-title {
  font-family: "Festive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
  width: fit-content;
}

.snow_wrap{
	height: 100vh;
	width: 100%;
	background:url('/assets/index/christmas-bg-big.jpg');
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: relative;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: 
  radial-gradient(4px 4px at 100px 50px, #fff , transparent), 
  radial-gradient(6px 6px at 200px 150px, #fff, transparent), 
  radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
  background-size: 650px 650px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 6s;
  animation-direction: reverse;
}

.snow:before {
	margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 9s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(650px);
  }
}

.christmas .logo-with-hat-container {
  position: relative;
}

.christmas .christmas-hat {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 2rem; /* Adjust the size as needed */
  transform: rotate(45deg);
}

.christmas-hat {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 2rem; /* Adjust the size as needed */
  transform: rotate(45deg);
}

.christmas .button-ribbon {
  position: absolute;
  top: 10px;
  right: -105px;
  width: 2rem; /* Adjust the size as needed */
}
