    <div class="container">
        <div class="mainBody">
            <div class="d-flex justify-content-center mb-3 position-relative align-items-center">
                <h1 class="mb-1 pb-2 halloween-text">Job Roles List</h1>
                {% if role == '1' %}
                    <a href="/jobroles/report" class="btn btn-outline-light position-absolute end-0">
                        Generate Report
                    </a>
                {% endif %}
            </div>
            <div class="d-flex flex-row justify-content-between m-0 p-0">
                <h3 class="mx-2 mb-2 align-items-center halloween-text">{{ pagination.total }} positions available</h3>
