<div class="pagination d-flex flex-row justify-content-center">
                <div class="d-flex flex-row gap-2 align-items-center mx-3">
                    <nav>
                        <ul class="pagination">
                            {% set start_page = pagination.page - 2 %}
                            {% set end_page = pagination.page + 2 %}

                            {% if start_page < 1 %}
                                {% set start_page = 1 %}
                            {% endif %}

                            {% if end_page > pagination.pages %}
                                {% set end_page = pagination.pages %}
                            {% endif %}

                            {% for i in range(start_page, end_page + 1) %}
                                <li class="paginationCard {% if i == pagination.page %}active{% endif %}">
                                    <a class="card p-3 m-1" href="?page={{ i }}&limit={{ pagination.limit }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <nav class="d-flex flex-row justify-content-center mb-5 pb-5">
                <ul class="pagination">
                    {% if pagination.page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&limit={{ pagination.limit }}">First</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled w-75">
                            <span class="page-link">First</span>
                        </li>
                    {% endif %}

                    {% if pagination.page > 1 %}
                        <li class="page-item w-75">
                            <a class="page-link" href="?page={{ pagination.page - 1 }}&limit={{ pagination.limit }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled w-75">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    
                    {% for i in 1..pagination.pages %}
                        <li class="page-item {% if i == pagination.page %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}&limit={{ pagination.limit }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if pagination.page < pagination.pages %}
                        <li class="page-item w-75">
                            <a class="page-link" href="?page={{ pagination.page + 1 }}&limit={{ pagination.limit }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                    
                    {% if (pagination.page >= 1) and (pagination.page != pagination.pages)%}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagination.pages }}&limit={{ pagination.limit }}">Last</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Last</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
</div>